[mysqld]
server-id=${server-id}
# binlog-format=ROW
gtid-mode=on
# log_slave_updates=1
enforce-gtid-consistency=true
# log-bin=mysql-bin
master_info_repository=TABLE
relay_log_info_repository=TABLE

replicate-wild-ignore-table=mysql.%
character-set-server=utf8

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8
